*.sh text eol=lf
docker-compose*.yml text eol=lf
nginx/entrypoint.sh text eol=lf
frontend/docker-entrypoint.sh text eol=lf
backend/docker-entrypoint.sh text eol=lf
backend/docker-dev-entrypoint.sh text eol=lf
